{% extends "base.html" %}
{% block title %}Tweets{% endblock %}
{% block head %}
	{{ super() }}
  <style type="text/css">
    #export-button, #clear-button {
      display: none;
    }

    #tweet-menu-item {
      color: #ddd;
      border: 1px solid #ddd;
      background-color: #55acee;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;} 

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
  </style>
{% endblock %}

{% block content %}
  <div class="container">

    <label for='username'>Username:</label>
    <input class='rounded' type='text' id='username' name='username'/><br>
    <label for='filter'>Filter Tweets:</label>
    <input class='rounded' type='text' id='filter' name='filter'/><br>
    <label for='limit'>Tweet Limit:</label>
    <input class='rounded' type="number" id="limit" name='limit' value='20' step='20' min='20'/><br>

    <div id='export-dropdown' class="dropdown">
      <input id='export-button' class="action-button" type="button" value="Export Results"/>
      <div class="dropdown-content">
        <a class="action-button" id='csv'>As CSV</a>
        <a class="action-button" id='json'>As JSON</a>
      </div>
    </div>
    <input id='submit-button' class='action-button' type="submit" value='Submit'/>
    <input id='clear-button' class='action-button' type="button" value='Clear'/>
    <div id='table-container'></div>
  </div>
 {% endblock %}

{% block scripts %}
 <script type="module">
  const saveData = (function () {
      const a = document.createElement("a");
      document.body.appendChild(a);
      a.style = "display: none";
      return function (data, fileName) {
          const blob = new Blob([data], {type: "octet/stream"});
          const url = window.URL.createObjectURL(blob);
          a.href = url;
          a.download = fileName;
          a.click();
          window.URL.revokeObjectURL(url);
      };
  }());

  const exportData = (rows, type) => {
    const username = getUsername();
    const request = new XMLHttpRequest();
    request.open('POST', `/export/csv?username=${username}`);
    const data = new FormData();
    data.append('rows', JSON.stringify(rows));
    request.onreadystatechange = function() {
      if (request.readyState === XMLHttpRequest.DONE) {
        if (request.status === 0 || (request.status >= 200 && request.status < 400)) {
          saveData(request.response,`${username}-tweets.csv`)
        } else {
          console.error('Unable to process request.', request.responseText);
        }
      }
    }
    request.send(data);
  };

  const getRowData = () => {
    const table = $('#table-container').children()[0];
    if (table) {
      /**
        currently sends data back to server once a database has been added, the ID will be sent so the server can retrieve the results
      **/
      const rows =[];
      for (let i = 0; i < table.rows.length; i++) {
        const row = table.rows[i];
        const rowData = {};
        for (let j = 0; j < row.children.length; j++) {
            const cell = row.children[j];
            if (cell.id.trim() === "") continue;
            rowData[cell.id] = cell.innerText;   
        }
        if (Object.entries(rowData).length === 0) continue;
        rows.push(rowData);
      }
      return rows;
    }
  };

  const getUsername = () => {
    const table = $('#table-container').children()[0];
    if (table) {
      const username = table.rows[0].children[0].innerText;
      return username; 
    }
  };

   $('#csv').bind('click', function(event) {
      const rows = getRowData();
      exportData(rows, 'csv');
   });

  const saveJson = (content, fileName, contentType) => {
    var a = document.createElement("a");
    var file = new Blob([content], {type: contentType});
    a.href = URL.createObjectURL(file);
    a.download = fileName;
    a.click();
  };

   $('#json').bind('click', function(event) {
      const rows = getRowData();
      const username = getUsername();
      saveJson(JSON.stringify(rows), `${username}-tweets.txt`, 'text/plain');
   });

   $('#clear-button').bind('click', function(event) {
       $('#table-container').empty();
       $('#export-button').hide();
       $('#clear-button').hide();
   });

   $('#submit-button').bind('click', function(event) {
     const params = {username: $('#username').val(), limit: $('#limit').val(), filter: $('#filter').val()};
     $.getJSON($SCRIPT_ROOT + '/search/tweets', params, function(tweets) {
       const tweetTable = $("<table class='result-table'>");
       $('#table-container').empty();
       $('#table-container').append(tweetTable);

       const userHeader = $('<tr>');
       userHeader.append(`<th colspan="2">@${$('#username').val()}</th>`);
       tweetTable.append(userHeader);

       // if tweets are found then create table 
       if (tweets.length > 0) { 
          const header = $('<tr>');
          // sort keys
          const keys = Object.keys(tweets[0]).sort();
          keys.forEach(key => header.append(`<th>${key}</th>`));
          tweetTable.append(header);

          const extractExtension = (fname) => {
            return fname.slice((fname.lastIndexOf(".") - 1 >>> 0) + 2);
          };

          tweets.forEach(tweet => {
              const bodyRow = $(`<tr id=${tweet.id}>`);
              keys.forEach(key => {
                let value = `${tweet[key]}`;
                try {
                  const extension = extractExtension(tweet[key]);
                  switch (extension.toLowerCase()) {
                    case 'jpg': 
                      value = `<img src="${tweet[key]}"/>`;
                    
                  }
                } catch(err) { 
                  console.warn(err);
                }
                bodyRow.append(`<td id=${key}>${value}</td>`);
                tweetTable.append(bodyRow);
              });
          });
      }

       $('#export-button').show();
       $('#clear-button').show();
     });
   })
 </script>
{% endblock %}
