{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block head %}
	{{ super() }}
  <style type="text/css">
    #user-menu-item {
      color: #ddd;
      border: 1px solid #ddd;
      background-color: #55acee;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <label for='username'>Username:</label>
    <input class='rounded' type='text' id='username' name='username'/><br>
    <input id='submit' type="submit" value='Submit'/>
    <div id='table-container'></div>
  </div>
 {% endblock %}

 {% block scripts %}
 <script>
   $('#submit').bind('click', function(event) {
     const params = {username: $('#username').val(), limit: $('#limit').val(), filter: $('#filter').val()};
     $.getJSON($SCRIPT_ROOT + '/search/user', params, function(user) {
       const userTable = $("<table id='users'>");
       $('#table-container').empty();
       $('#table-container').append(userTable);

       const header = $('<tr>');
       header.append(`<th>ID</th>`);
       header.append(`<th>Username</th>`);
       header.append(`<th>Profile Picture</th>`);
       userTable.append(header);

      const row = $(`<tr id=${user.id}>`);
      row.append(`<td>${user.id}</td>`);
      row.append(`<td>${user.username}</td>`);
      row.append(`<td><img src="${user.icon}"/></td>`);
      userTable.append(row);
     });
   })
 </script>
 {% endblock %}
